/* ALL THE STYLES ARE IN GLOBAL CSS AS THIS PROJECT IS FIRST MADE IN REACT JS SO I HAVE SED THE STYLES OF THE REACT JS TYPICALL CLASS NAME BUT AS I WANT TO LEARN THE NEXT JS SO I JUST COPY THE ALL STYLES FROM THE THAT PREVIOUS PROJECT AND PUT ALL THE CLASSES IN THE GLOBAL CSS AND AS I AM LEARNING THE TAILWAND CSS IN THIS PROJECT SO I HAVE USE THE TAILWAND CSS AS WELL SO CSS AS A WHOLE IS SO MWSSY I HAVE USE THE NEXT JS CSS METHODS LIKE THIS FILE AND USE THE CSS CLASS METHODS IN THE GLOBAL CSS AND USED TAILWAND CSS AND IN-LINE CSS AS WELL */


@media screen and (max-width:900px) {
    .lImg{
        display: none;
    }

    .form{
        width: 100%;
    }

    .fWrapper{
        grid-template-columns: 1fr;
    }
}


